body
{
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px;
}

.clear
{
	float: none !important;
	clear: both !important;
}

a.button
{
	text-decoration: none;
	float: left;
	display: block;
	padding: 5px;
	border: 1px solid #878787;
	margin-right: 3px;
	color: #000000;
	border-radius: 3px;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

table.collapse
{
	border-collapse: collapse;
}

table.collapse td,
table.collapse th
{
	border-right: 1px solid #b7b7b7;
	padding: 4px;
}

table.collapse td:last-child,
table.collapse th:last-child
{
	border-right: 0 none;
}

tr.odd
{
	background-color: #dedede;
}

td.centered,
th.centered
{
	text-align: center;
}

.error
{
	display: inline;
	border: 1px solid #ff3800;
	border-radius: 3px;
	padding: 3px;
}

.subMenu
{
	margin-bottom: 10px;
}

table.orders
{
	border-collapse: collapse;
}

table.orders tr
{
	border: 1px solid #000000;
}

table.orders td,
table.orders th
{
	padding: 5px;
}

table.orders thead
{
	display: block;
}

table.orders thead tr
{
	border-bottom-width: 2px;
}

table.orders tbody
{
	display: block;
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

table.orders tbody tr:first-child
{
	border-top: 0 none;
}

table.orders .item
{
	width: 200px;
}

table.orders .singlePrice,
table.orders .sum
{
	width: 120px;
}

table.orders .amount,
table.orders .amountSold
{
	width: 70px;
}

table.orders .sold
{
	width: 100px;
}

table.orders .createDatetime,
table.orders .endDatetime
{
	width: 130px;
}

table.orders .sellingFor
{
	width: 150px;
}

table.orders .noOrders
{
	text-align: center;
	font-weight: bold;
}

table.addOrder .label
{
	width: 100px;
	vertical-align: top;
	padding-top: 5px;
}

table.addOrder .setSellingForUser
{
	margin-left: 5px;
}

table.addOrder .setSellingForUser a
{
	display: block;
	margin-bottom: 3px;
}

#soldDialog table .label
{
	width: 130px;
}