body
{
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px;
}

.clear
{
	float: none !important;
	clear: both !important;
}

input
{
	border: 1px solid #878787;
	padding: 5px;
	border-radius: 3px;
}

input[type=submit]
{
	background-color: #ffffff;
}

a.button
{
	text-decoration: none;
	float: left;
	display: block;
	padding: 5px;
	border: 1px solid #878787;
	margin-right: 3px;
	color: #000000;
	border-radius: 3px;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

table.collapse
{
	border-collapse: collapse;
}

table.collapse td,
table.collapse th
{
	border-right: 1px solid #b7b7b7;
	padding: 4px;
}

table.collapse td:last-child,
table.collapse th:last-child
{
	border-right: 0 none;
}

tr.odd
{
	background-color: #dedede;
}

td.centered,
th.centered
{
	text-align: center;
}

.error
{
	display: inline;
	border: 1px solid #ff3800;
	border-radius: 3px;
	padding: 3px;
}

.subMenu
{
	margin-bottom: 10px;
}

table.userList
{
	margin-bottom: 10px;
}

#admin td.buttons input[type=submit]
{
	float: left;
}

#admin td.buttons a.button
{
	margin-top: 2px;
	margin-left: 5px;
	cursor: default;
}